In [1]:
import pandas as pd

# Adjust the file name if you used a different name
excel_file = "folklore_database.xlsx"

# Load each sheet into a DataFrame
tales_df = pd.read_excel(excel_file, sheet_name="tales")
locations_df = pd.read_excel(excel_file, sheet_name="locations")
# You can add these when you're ready:
# tags_df = pd.read_excel(excel_file, sheet_name="tags")
# tale_tags_df = pd.read_excel(excel_file, sheet_name="tale_tags")

In [2]:
# Check That the Data Loaded Correctly:
#print(tales_df.head())
print(locations_df.head())

                  name                   region  \
0   Quinault (general)             Coast Salish
1      Kaska (general)  British Columbia, Yukon
2  Chilcotin (general)         British Columbia
3  Nez Perce (general)                    Idaho
4    Tahltan (general)         British Columbia

                                 description        lat         lon
0  Quinault Indian Nation Tribal Headquaters  47.339444 -124.285568
1                         Daylu Dena Council  59.923629 -128.495219
2           Carrier-Chilcotin Tribal Council  52.128514 -122.145694
3                Nez Perce Tribe Headquaters  46.398666 -116.802809
4                       Tahltan Band Council  57.901486 -131.179714

In [4]:
# Setup: Connect to Your Database
import psycopg2
from sqlalchemy import create_engine

# Create a connection engine
engine = create_engine("postgresql+psycopg2://postgres:Boldt1974@localhost:5432/folklore")
conn = engine.connect()

In [5]:
# Insert Locations (with PostGIS point geometry)
from sqlalchemy import text

with engine.begin() as conn:
    for _, row in locations_df.iterrows():
        insert_stmt = text("""
            INSERT INTO locations (name, region, description, lat, lon, geog_point)
            VALUES (:name, :region, :description, :lat, :lon, ST_SetSRID(ST_MakePoint(:lon, :lat), 4326))
            ON CONFLICT (name) DO NOTHING;
        """)
        conn.execute(insert_stmt, {
            "name": row["name"],
            "region": row["region"],
            "description": row["description"],
            "lat": row["lat"],
            "lon": row["lon"]
        })

In [8]:
# Get mapping from location name -> location_id
with engine.connect() as conn:
    result = conn.execute(text("SELECT location_id, name FROM locations"))
    location_map = {row[1]: row[0] for row in result}

In [12]:
# Insert tales
with engine.begin() as conn:
    for _, row in tales_df.iterrows():
        location_id = location_map.get(row["location_name"])
        if location_id is None:
            print(f"Location not found for tale: {row['title']} — '{row['location_name']}'")
            continue

        insert_stmt = text("""
            INSERT INTO tales (title, culture_group, collector, year_collected, source, location_id, link, notes)
            VALUES (:title, :culture_group, :collector, :year_collected, :source, :location_id, :link, :notes)
        """)
        conn.execute(insert_stmt, {
            "title": row["title"],
            "culture_group": row["culture_group"],
            "collector": row["collector"],
            "year_collected": row["year_collected"],
            "source": row["source"],
            "location_id": location_id,
            "link": row["link"],
            "notes": row["notes"]
        })

Location not found for tale: (no title) — 'nan'